.careers-container {
    text-align: center;
    padding: 20px;
    background-color: #fff; /* White background */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
  }
  
h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #000; /* Change color to black for visibility */
}
  
h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #000; /* Change color to black for visibility */
}
  
  p {
    color: #666; /* Gray text color */
  }
  
  .payment-options {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  
  .payment-option {
    width: 100px; /* Adjust width as needed */
    text-align: center;
  }
  
  .payment-option img {
    max-width: 80%; /* Adjust image size */
    margin-bottom: 10px;
  }
  
  .payment-option:hover {
    transform: scale(1.05); /* Slight hover effect */
  }
  
  .payment-option.selected {
    border: 2px solid #007bff; /* Blue border for selected option */
  }